[package]
name = "gossip"
version = "0.7.0-unstable"
description = "A social media client for nostr"
authors = ["Mike Dilger <mike@mikedilger.com>", "fiatjaf <fiatjaf@gmail.com>", "Nate Levin <natelevincycling@gmail.com>", "Nethanja Focking <nethanja@nethanja.de>", "Daniele Tonon <tonon@vitamino.it>", "jeremyd (@jeremyd)"]
license = "MIT"
repository = "https://github.com/mikedilger/gossip"
homepage = "https://github.com/mikedilger/gossip"
default-run = "gossip"
edition = "2021"

[features]
default = ["rustls-tls"]
lang-cjk = []
video-ffmpeg = [ "egui-video", "sdl2" ]

native-tls = [ "reqwest/native-tls", "tungstenite/native-tls", "tokio-tungstenite/native-tls"]
rustls-tls = [ "reqwest/rustls-tls", "tungstenite/rustls-tls-webpki-roots", "tokio-tungstenite/rustls-tls-webpki-roots"]

[patch.crates-io]
# override egui crate for egui_video dependency
egui = { git =  "https://github.com/mikedilger/egui", rev = "a18ee5e5867afb7c80c8cd0bc2815278274124b3" }
# Use the master branch of SDL2 to include a fix related to clang (and XCode after 14.2)
sdl2 = { git = "https://github.com/Rust-SDL2/rust-sdl2", rev = "27cd1fd67c811e06b9d997a77bb6089a1b65070d" }

[patch.'https://github.com/n00kii/rust-ffmpeg']
# Use upstream which is newer
ffmpeg-next = { git = "https://github.com/bu5hm4nn/rust-ffmpeg", rev = "a08d9f86c2d2fb05fcf6ceb65ae68ef788964f18" }


[dependencies]
async-recursion = "1.0"
async-trait = "0.1"
base64 = "0.21"
dashmap = "5.4"
dirs = "5.0"
eframe = { git = "https://github.com/mikedilger/egui", rev = "a18ee5e5867afb7c80c8cd0bc2815278274124b3", features = [ "persistence" ] }
egui-winit = { git = "https://github.com/mikedilger/egui", rev = "a18ee5e5867afb7c80c8cd0bc2815278274124b3", features = [ "default" ] }
egui_extras = { git = "https://github.com/mikedilger/egui", rev = "a18ee5e5867afb7c80c8cd0bc2815278274124b3", features = [ "image", "svg" ] }
egui-video = { git = "https://github.com/n00kii/egui-video", rev = "50b4efd6d8250b555a85f966deca737c161ee6df",  features = [ "from_bytes" ], optional = true }
encoding_rs = "0.8"
fallible-iterator = "0.2"
futures = "0.3"
futures-util = "0.3"
gossip-relay-picker = { git = "https://github.com/mikedilger/gossip-relay-picker", rev = "18a8cb0648bbe48d55fb5c73d5a2a9ced9a1698b" }
hex = "0.4"
http = "0.2"
humansize = "2.1"
image = { version = "0.24", features = [ "png", "jpeg" ] }
lazy_static = "1.4"
linkify = "0.9"
memoize = "0.4"
mime = "0.3"
nostr-types = { git = "https://github.com/mikedilger/nostr-types", rev = "3ecc9250f15962abe479d6d41a42b98a97ccf8b6" }
parking_lot = "0.12"
qrcode = { git = "https://github.com/mikedilger/qrcode-rust", rev = "519b77b3efa3f84961169b47d3de08c5ddd86548" }
rand = "0.8"
regex = "1.8"
reqwest = { version = "0.11", default-features=false, features = ["brotli", "deflate", "gzip", "json"] }
rusqlite = { version = "0.29", features = ["bundled", "chrono", "serde_json"] }
sdl2 = { version = "0.35.2", features = ["bundled"], optional = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
time = { version = "0.3", features = [ "formatting", "macros" ] }
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [ "std", "env-filter" ] }
tokio-tungstenite = { version = "0.18", default-features = false, features = [ "connect", "handshake" ] }
tungstenite = { version = "0.18", default-features = false }
vecmap-rs = "0.1"
zeroize = "1.6"

# Force scrypt to build with release-like speed even in dev mode
[profile.dev.package.scrypt]
opt-level = 3
debug-assertions = false
overflow-checks = false

[package.metadata.deb]
section = "web"
assets = [
    ["target/release/gossip", "/usr/bin/", "755"],
    ["packaging/debian/gossip.desktop", "/usr/share/applications/gossip.desktop", "644"],
]
features = [ "lang-cjk" ]
