[package]
name = "gossip"
version = "0.3.1-unstable"
description = "A social media client for nostr"
authors = ["Mike Dilger <mike@mikedilger.com>"]
license = "MIT"
repository = "https://github.com/mikedilger/gossip"
homepage = "https://github.com/mikedilger/gossip"
default-run = "gossip"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-recursion = "1.0"
base64 = "0.20"
dashmap = "5.4"
dirs = "4.0"
eframe = { version = "0.20", features = [ "dark-light", "persistence" ] }
egui_extras = { version = "0.20", features = [ "image", "svg", "tracing" ] }
futures = "0.3"
futures-util = "0.3"
hex = "0.4"
http = "0.2"
image = { version = "0.24", features = [ "png", "jpeg" ] }
lazy_static = "1.4"
linkify = "0.9"
memoize = "0.3"
nostr-types = { git = "https://github.com/mikedilger/nostr-types" }
parking_lot = "0.12"
rand = "0.8"
regex = "1.7"
reqwest = { version = "0.11", features = ["json"] }
rusqlite = { version = "0.28", features = ["bundled", "chrono", "serde_json"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
textnonce = "1.0"
thiserror = "1.0"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = [ "std", "env-filter" ] }
tokio-tungstenite = { version = "0.18", features = [ "rustls-tls-native-roots" ] }
tungstenite = { version = "0.18", features = [ "rustls-tls-native-roots" ] }
zeroize = "1.5"

# Force scrypt to build with release-like speed even in dev mode
[profile.dev.package.scrypt]
opt-level = 3
debug-assertions = false
overflow-checks = false
