<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
    <string>en-NZ</string>
  <key>CFBundleDisplayName</key>
    <string>Gossip</string>
  <key>CFBundleExecutable</key>
    <string>gossip-bin</string>
  <key>CFBundleIconFile</key>
    <string>gossip</string>
  <key>CFBundleIdentifier</key>
    <string>com.mikedilger.gossip</string>
  <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
  <key>CFBundleName</key>
    <string>Gossip</string>
  <key>CFBundlePackageType</key>
    <string>APPL</string>
  <key>CFBundleShortVersionString</key>
    <string>__VERSION__</string>
  <key>CFBundleVersion</key>
    <string>__VERSION__</string>
  <key>NSHumanReadableCopyright</key>
    <string>2023 Michael Dilger</string>
</dict>
</plist>
